.reveal h1,
.reveal h2,
.reveal h3,
.reveal ul,
.reveal section {
  text-align: left;
}

.reveal blockquote {
  margin: 1em 0;
  background: transparent;
  padding-left: 1em;
  border-left: 2px solid white;
}

.reveal ul {
  vertical-align: top;
  margin-right: 1em;
}

.reveal {
  font-size: 1.2em;
}

.reveal pre {
  width: auto;
  font-size: 1.2em;
}

.reveal code {
  color: orange;
}

.centered {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
}
.reveal h1:not(:first-child),
.reveal h2 {
  margin-top: 1em;
}